<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" data-rule="required" class="form-control editor" rows="5" name="row[content]" cols="50">{$row.content}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Seo_title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-seo_title"  class="form-control" name="row[seo_title]" type="text" value="{$row.seo_title}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Seo_keyword')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-seo_keyword" data-rule="required" class="form-control" rows="5" name="row[seo_keyword]" cols="50">{$row.seo_keyword}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Seo_desc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-seo_desc" data-rule="required" class="form-control" rows="5" name="row[seo_desc]" cols="50">{$row.seo_desc}</textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
